/* Variables */
$base-color: #18293a;
$light-orange: #d18675;
$ultra-light-orange: #f7d1b6;
$full-orange: #d73340;
$light-blue: #3f5d64;

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: $base-color;
}

header {
  background-color: #ffffff;
}

.logo {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 500ms;
  &:hover {
    transform: scale(1.2);
  }
}

.abrirMenu {
  display: none;
}

/*UL*/
.menuBar {
  background-color: #454545;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-content: space-between;
  flex-direction: row;
  overflow: hidden;
  color: $base-color;
}

/*LI*/
.listMenu {
  color: $ultra-light-orange;
  width: 100%;
  background-color: $base-color;
  text-decoration: none;
  display: flex;
}

/*li a*/
a {
  width: 100%;
  text-align: center;
  color: $ultra-light-orange;
  padding: 14px 16px;
  text-decoration: none;
}

.closeMenu,
.openMenu {
  display: none;
}

.menuHover:hover {
  width: 100%;
  background-color: $light-orange;
  color: $base-color;
  font-weight: bolder;
  transition-duration: 200ms;
}

.listMenu.active {
  background-color: $light-orange;
  color: $base-color;
}

.listMenu.active a {
  color: $base-color;
  font-weight: bolder;

  &:hover {
    background-color: $ultra-light-orange;
  }
}

.mainImage {
  display: inline-block;
  width: 40%;
}
/* FOOTER*/

.footerSocial {
  width: 100%;
  height: 80px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $base-color;
  width: 100%;
  text-align: center;
}

.iconFooter {
  display: inline;
  width: 50px;
  border-radius: 5px;
  transition-duration: 500ms;
}

.iconFooter:hover {
  width: 50px;
  height: 50px;
  background-color: $full-orange;
  box-shadow: 0 0 20px $full-orange;
}

.iconFooter2 {
  display: inline;
  width: 50px;
  border-radius: 5px;
  transition-duration: 500ms;
}

.iconFooter2:hover {
  width: 50px;
  height: 50px;
  background-color: $full-orange;
  box-shadow: 0 0 20px $full-orange;
}

.iconFooter4 {
  display: inline;
  width: 50px;
  border-radius: 5px;
  transition-duration: 500ms;
}

.iconFooter4:hover {
  width: 50px;
  height: 50px;
  background-color: $full-orange;
  box-shadow: 0 0 20px $full-orange;
}

.iconFooter3 {
  display: inline;
  width: 50px;
  border-radius: 5px;
  transition-duration: 500ms;
}

.iconFooter3:hover {
  width: 50px;
  height: 50px;
  background-color: $full-orange;
  box-shadow: 0 0 20px $full-orange;
}

@media screen and (max-width: 768px) {
  .iconFooter {
    width: 30px;
    &:hover {
      height: 30px;
      width: 30px;
      background-color: $full-orange;
      box-shadow: 0 0 10px $full-orange;
      transform: scale(1.2) translateY(-2px) rotate(-2deg);
    }
  }
  .iconFooter2 {
    width: 30px;
    &:hover {
      height: 30px;
      width: 30px;
      background-color: $full-orange;
      box-shadow: 0 0 10px $full-orange;
      transform: scale(1.2) translateY(-2px) rotate(-2deg);
    }
  }

  .iconFooter3 {
    width: 30px;
    &:hover {
      height: 30px;
      width: 30px;
      background-color: $full-orange;
      box-shadow: 0 0 10px $full-orange;
      transform: scale(1.2) translateY(-2px) rotate(2deg);
    }
  }

  .iconFooter4 {
    width: 30px;
    &:hover {
      height: 30px;
      width: 30px;
      background-color: $full-orange;
      box-shadow: 0 0 10px $full-orange;
      transform: scale(1.2) translateY(-2px) rotate(2deg);
    }
  }
}
/*contact*/

.contactBody {
  background-image: url(./../images/desarrollo-graficas3.webp);
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  color: $light-orange;
}

.contactBody h4 {
  color: $full-orange;
  font-weight: 700;
}
.form-contact {
  padding-left: 25%;
  padding-right: 25%;
}

.form-control:hover {
  box-shadow: 0 0 20px $light-orange;
}

/*  SECTION INDEX*/

.mainSection {
  padding: 10px 10px 10px 10px;
  background-color: $light-orange;
}

.interestPadding {
  margin-left: 10vh;
}

.ulSection {
  display: inline;
  width: 100px;
  padding: 10px 10px 10px 10px;
  transition-duration: 300ms;
  filter: grayscale(0.8);
}

.ulSection:hover {
  scale: 110%;
  filter: none;
}

.ulSkills {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 98%;
  text-decoration: none;
  background-color: $light-orange;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.divSkills {
  width: 8%;
  text-align: center;
  border: $ultra-light-orange;
  border-style: inset;
  border-radius: 0.2px;
  box-shadow: 8px 8px $full-orange;
}

.liSkills {
  display: inline;
  background-color: #454545;
  color: #ffffff;
  text-decoration: none;
}

.h4Skills {
  font-size: 18px;
}

.articleChild2 {
  width: 100%;
  height: 300px;
  background-image: url(./../images/designer.webp);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  transition-duration: 1s;
  filter: sepia(1);
  &:hover {
    filter: none;
  }
}
.articleChild3 {
  width: 100%;
  height: 300px;
  background-image: url(./../images/Web-design-code-on-screen-1167026de1425px.webp);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  transition-duration: 1s;
  filter: sepia(1);
  &:hover {
    filter: none;
  }
}

.h4Aside {
  font-size: 26px;
  padding: 30px 0 10px 0;
  text-align: left;
  color: $full-orange;
  font-weight: 800;
  line-height: 2rem;
}

.textAside {
  font-size: 16px;
  text-align: left;
  color: $ultra-light-orange;
  line-height: 1.5rem;
  padding: 15px 0 25px 0;
  text-align: justify;
}

.aGoogle p{
  color: #18293a;
  text-decoration: none;
}

.aGoogle a{
  color: #18293a;
  text-decoration: none;
}


/* WORKS*/

.bannerWorks {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}
.imageWorks {
  width: 100%;
}

.flexContentWorks {
  width: 100%;
  height: 400px;
}

.flexChildWorks {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.articleChildWorks {
  width: 100vh;
  padding: 30px 30px 60px 30px;
  background-color: #3f5d64;
}

.h4Works {
  padding-top: 0px;
  color: $base-color;
  font-size: 26px;
}

.textWorks {
  font-size: 16px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
  color: $ultra-light-orange;
}

.worksA h4 {
  color: $full-orange;
  padding-top: 10px;
  font-size: 1.8rem;
  font-weight: 800;
}

.worksA p {
  color: $ultra-light-orange;
  text-align: justify;
  letter-spacing: 1px;
}

.imageFlexChild1 {
  width: 99%;
  width: 40vh;
  transition-duration: 1s;
  filter: grayscale(0.8);
  &:hover {
    filter: none;
  }
}
.imageFlexChild2 {
  width: 99%;
  width: 40vh;
  filter: grayscale(0.8);
  transition-duration: 1s;
  &:hover {
    filter: none;
  }
}
.imageFlexChild3 {
  width: 99%;
  width: 40vh;
  transition-duration: 1s;
  filter: grayscale(0.8);
  &:hover {
    filter: none;
  }
}

.imageFlexChild1:hover {
  box-shadow: 0 0 20px $ultra-light-orange;
  transform: scale(1.2) translateY(-10px) rotate(-2deg);
}

.imageFlexChild2:hover {
  box-shadow: 0 0 20px $ultra-light-orange;
  transform: scale(1.2) translateY(-10px);
}
.imageFlexChild3:hover {
  box-shadow: 0 0 20px $ultra-light-orange;
  transform: scale(1.2) translateY(-10px) rotate(2deg);
}

/* SERVICES */

.imageServices {
  background-image: url(./../images/programming-script-text-coding-word.webp);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: top;
  overflow: hidden;
}

.h2Center {
  text-align: center;
  padding-top: 20px;
  color: $full-orange;
  font-weight: 800;
}

.textServices {
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  color: $base-color;
  padding-bottom: 20px;
}

.mainBG {
  background-color: $ultra-light-orange;
}

.bootstrapServices {
  width: 100%;
  height: 100%;
  background-color: $ultra-light-orange;
  padding-bottom: 0px;
}

/* Boton de "Ir Arriba"*/
#toTopButton {
  margin: 5px 5px 5px 5px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: solid;
  border-width: 0.2px;
  background-color: $full-orange;
  color: $ultra-light-orange;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  transition-duration: 200ms;
}

#toTopButton:hover {
  transform: scale(105%);
  box-shadow: 0 0 20px $light-orange;
}

.gridContainer {
  display: grid;
  width: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: 500px;
  row-gap: 20px;
}

.gridContainerSkills {
  display: grid;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 50% 50%;
}

.gridContain {
  width: 100%;
  height: 90%;
  background-color: $ultra-light-orange;
}

.divSkillsHeader {
  width: 100%;
  height: 50%;
  background-color: $ultra-light-orange;
  padding: 50px 100px 10px 100px;
}

.playwrite-ca {
  text-align: center;
  font-size: 2rem;
  color: $base-color;
  font-weight: 800;
  letter-spacing: 2px;
}


.h4HeaderSkills {
  font-size: 1.5rem;
  padding-bottom: 50px;
  padding-top: 15px;
  font-weight: 200;
  letter-spacing: 2px;
  color: $base-color;
}

.linea {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 2px;
  background-color: #18293a;
  margin: 10px auto 40px auto; /* Centrar horizontalmente */
 
}

.linea2 {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 2px;
  background-color: #18293a;
  margin: 30px auto 40px auto; /* Centrar horizontalmente */
}
.bootstrapServicesIMG {
  background-image: url(./../images/web1.jpg);
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.bootstrapServicesIMG2 {
  background-image: url(./../images/web2.jpg);
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.bootstrapServicesIMG3 {
  background-image: url(./../images/web3.jpg);
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.bootstrapServicesIMG4 {
  background-image: url(./../images/web4.jpg);
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.h3Skills {
  font-size: 3.5rem;
  color: #18293a; /* $base-color */
  font-weight: 800;
  padding: 5%;
  letter-spacing: 2px;
  overflow: hidden; /* Asegura que las letras que se desplacen hacia afuera no sean visibles */
}

.h3Skills span {
  display: inline-block;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
}
// .h3Skills {
//   font-size: 3.5rem;
//   color: $base-color;
//   font-weight: 800;
//   padding: 5% 5% 5% 5%;
//   letter-spacing: 2px;
// }

.pSkills {
  font-size: 1.2rem;
  color: $base-color;
  padding: 0% 5% 5% 5%;
}

.spanSkills {
  display: flex;
  flex-direction: column;
  align-items: end;
  align-content: end;
  padding-right: 5%;
}

.btnSkills {
  width: 100px;
  height: 50px;
  color: $base-color;
  border-radius: 7%;
  border-color: $base-color;
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  font-weight: 600;
  transition-duration: 500ms;
  &:hover {
    background-color: $base-color;
    color: $ultra-light-orange;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  }
}


.h3Section {
  color: $full-orange;
  font-size: 26px;
  font-weight: 800;
}

.sectionSkills {
  background-color: $ultra-light-orange;
  padding-bottom: 20px;
}

.pSection {
  font-size: 16px;
  color: $ultra-light-orange;
  font-weight: 600;
}

.containerSkills {
  width: 70%;
  height: 500px;
}

.rowSkills {
  width: 100%;
  height: 100%;
  margin-top: 2.5%;
}

// .colSkills {
//   width: 100%;
//   height: 100%;
// }

// .colSkills2 {
//   width: 100%;
//   height: 100%;
// }

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  background-color: $ultra-light-orange;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 500ms;
  &:hover {
    scale: 102%;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.7);
  }
}

.card-text {
  margin-bottom: 30px;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  width: 150px;
  height: 150px;
  padding-left: 5%;
  padding-top: 5%;
}

.card-title {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 2.2rem;
  font-weight: 800;
  color: $base-color;
}

.btnSkillsCards {
  width: 100px;
  height: 50px;
  color: $base-color;
  border-radius: 4%;
  border-color: $base-color;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  font-weight: 600;
  transition-duration: 500ms;
  &:hover {
    background-color: $base-color;
    color: $ultra-light-orange;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  }
}

.bodySkills {
  background-color: $base-color;
}
.bodySkills2 {
  background-color: $base-color;
}

.skillsContain {
  background-color: $ultra-light-orange;
  justify-content: center;
  transition-duration: 900ms;;
}

.imageSkills {
  background-image: url(./../images/htmlbackground.webp);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.iconSkills {
  width: 150px;
}

.pGridSkills {
  text-align: left;
  font-size: 15px;
  color: #3f5d64;
  line-height: 1.3rem;
  font-weight: 400;
}
.h3GridSkills {
  color: $base-color;
  font-size: 26px;
  font-weight: 800;
  text-align: center;
}

.skillsContain:hover {
  box-shadow: 0 0 20px #2b2b2b;
  transform: scale(1.1) rotate(2deg) translateY(-10px);
}

/* /////////PRUEBA///////////// */

.gridContainerWorks {
  background-color: $light-orange;
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: 300px 300px;
  column-gap: 2%;
  row-gap: 20px;
  padding: 10px 10px 10px 10px;
  justify-content: space-between;
}

.imageBGWorks1 {
  width: 100%;
  height: 100%;
  background-image: url(./../images/uxuismall.webp);
}

.imageBGWorks2 {
  width: 100%;
  height: 100%;
  background-image: url(./../images/uxuismall.webp);
}

.divBoostrapBG {
  background-image: url(./../images/uxuismall.webp);
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(5px 5px 5px #181818);
}

.bootstrapH3 {
  color: $base-color;
  font-weight: 800;
}

.imgIndex {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bootstrapP {
  font-size: 16px;
  color: $base-color;
  font-weight: 600;
}
@media screen and (max-width: 1200px) {

  .containerSkills {
    width: 100%;
  }

  .imageFlexChild1 {
    width: 99%;
  }

  .imageFlexChild2 {
    width: 99%;
  }

  .imageFlexChild3 {
    width: 99%;
  }
}

@media screen and (max-width: 1100px) {
  .containerSkills {
    width: 100%;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 0.8rem;
  }

  .skillsContain {
    filter: none;
  }

  .h3Skills {
    font-size: 2.5rem;
  }
  
  .pSkills {
    font-size: 1rem;
  }

  .articleChild3 {
    filter: none;
  }
  .articleChild2 {
    filter: none;
  }
  .imageFlexChild1 {
    width: 99%;
  }

  .imageFlexChild2 {
    width: 99%;
  }

  .imageFlexChild3 {
    width: 99%;
  }
  .imageServices {
    width: 1100px;
    height: 400px;
  }
  .imageSkills {
    width: 1100;
    max-height: 400px;
  }
  .bootstrapP {
    font-size: 0.8rem;
    text-align: justify;
  }
  .pSection {
    font-size: 0.8rem;
  }
}


@media screen and (max-width: 768px) {

  .containerSkills {
    width: 100%;
  }
  .h4Aside {
    font-size: 1.2rem;
    text-align: center;
  }

  .card-body {
    padding-top: 0%;
  }

  .card-title {
    font-size: 1rem;
    margin-bottom: 0%;
  }

  .card-text {
    font-size: 0.7rem;
    padding-bottom: 0%;
  }

  .card-img-top {
    width: 70px;
    height: 70px;
  }

  .h3Skills {
    font-size: 1.5rem;
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .spanSkills {
    padding-top: 0%;
    padding-bottom: 2%;

  }
  
  .btnSkills {
    margin-bottom: 5px;
    width: 70px;
    height: 40px;
    border-radius: 5%;
    border-width: 2px;
    font-weight: 200;
  }

  .pSkills {
    font-size: 0.8rem;
    padding-bottom: 0%;
    padding-top: 0px;
  }

  .bootstrapServicesIMG {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .bootstrapServicesIMG2 {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .bootstrapServicesIMG3 {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .bootstrapServicesIMG4 {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }


  .imageSkills {
    height: 300px;
    background-position: bottom;
  }
  .skillsContain:hover {
    box-shadow: 0 0 20px #2b2b2b;
    transform: scale(1) rotate(2deg) translateY(-5px);
  }

  .textAside {
    font-size: 0.8rem;
    padding-left: 0%;
    padding-right: 0%;
  }

  .imageFlexChild1 {
    width: 99%;
    filter: none;
  }

  .imageFlexChild2 {
    width: 99%;
    filter: none;
  }

  .imageFlexChild3 {
    width: 99%;
    filter: none;
  }
  .footerWebCode {
    font-size: 10px;
  }

  .form-contact {
    padding-left: 0px;
    padding-right: 0px;
  }

  .divBoostrapBG {
    display: none;
  }
  .navMenu {
    font-size: 14px;
  }
  .bootstrapH3 {
    font-size: 28px;
  }

  .h3Section {
    font-size: 28px;
  }

  .card {
    height: 95%;
  }

  .ulSection {
    width: 180px;
    filter: none;
  }

  .textServices {
    font-weight: 500;
    font-size: 14px;
  }

  .imageServices {
    width: 768px;
    height: 300px;
  }
  .articleChild3 {
    width: 100%;
    height: 200px;
    background-image: url(./../images/Web-design-code-on-screen-1167026de1425px.webp);
    background-attachment: unset;
  }

  .articleChild2 {
    width: 100%;
    height: 200px;
    background-image: url(./../images/designer.webp);
    background-attachment: unset;
  }

  .spanSkills {
    display: flex;
    flex-direction: column;
    align-items: end;
    align-content: end;
  }

  .btnSkillsCards {
    width: 60px;
    height: 27px;
    font-size: 0.4rem;
  }

}

@media screen and (max-width: 440px) {

  .containerSkills {
    width: 100%;
  }

  .card {
    height: 95%;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .card-text {
    font-size: 0.5rem;
  }

  .card-img-top {
    width: 50px;
    height: 50px;
  }

  .imageFlexChild1 {
    width: 99%;
    filter: none;
  }

  .imageSkills {
    height: 250px;
  }

  .imageFlexChild2 {
    width: 99%;
    filter: none;
  }

  .imageFlexChild3 {
    width: 99%;
    filter: none;
  }

  .imageServices {
    display: none;
  }
}

.btn-primary {
  background-color: $light-orange;
  border-color: transparent;
}

.btn-primary:hover {
  background-color: $full-orange;
  border-color: transparent;
  transform: scale(105%);
  box-shadow: 0 0 10px $light-orange;
}

.form-check-input:checked {
  background-color: $full-orange;
  box-shadow: 0 0 10px $light-orange;
  border: $ultra-light-orange;
}

.form-check-input:active {
  background-color: $full-orange;
  box-shadow: 0 0 10px $ultra-light-orange;
  border: $ultra-light-orange;
}

strong {
  color: $base-color;
  font-weight: 900;
}

.footerWebCode {
  color: $ultra-light-orange;
  font-size: small;
  letter-spacing: 0.3rem;
  margin-top: 8px;
  margin-bottom: 8px;
  justify-content: end;

  .strongFooter {
    color: $light-orange;
    font-weight: 700;
  }
}

/* Estilo para el botón de WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 1000;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px; /* Ancho del botón */
  height: 60px; /* Alto del botón */
}

.whatsapp-button img {
  width: 40px; /* Ancho del ícono */
  height: 40px; /* Alto del ícono */
}

.whatsapp-button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 550px) {
  .footerWebCode {
    font-size: 0.6rem;
  }

  .playwrite-ca {
    font-size: 1.5rem;
  }

  .h4HeaderSkills {
    font-size: 1rem;
  }

  .containerSkills {
    width: 100%;
  }

  .divSkillsHeader {
    padding-left: 10px;
    padding-right: 10px;
  }

  .btnSkills {
    margin-bottom: 20px;
    font-size: 70%;
    padding-left: 0%;
    padding-right: 0%;
  }

  .row {
    margin-left: 0px;
    margin-right: 10px;
  }
  .ulSection {
    width: 180px;
    filter: none;
  }

  .form-contact {
    padding-left: 0px;
    padding-right: 0px;
  }

  #toTopButton {
    background-color: transparent;
    border: transparent;
    border-width: 0px;
  }

  #toTopButton:hover {
    transform: scale(140%);
    box-shadow: 0 0 0px;
  }

  .bi-chevron-double-up {
    color: $full-orange;
    background-color: transparent;
  }

  .navMenu {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: fixed;
    background-color: $base-color;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
    height: 100vh;
    overflow-y: auto;
  }

  .contactBody {
    text-align: left;
  }

  .navMenu.visible {
    opacity: 1;
    visibility: visible;
  }

  .menuBar {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .openMenu,
  .closeMenu {
    display: block;
    border: 0;
    font-size: 1.5rem;
    background-color: transparent;
    color: $light-orange;
  }

  .openMenu {
    color: $base-color;
    font-size: 2rem;
  }

  .webContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 999;
  }

  .whatsapp-button {
    bottom: 30px;
    left: 20px;
    width: 40px;
    height: 40px;
  }

  .whatsapp-button img {
    width: 30px;
    height: 30px;
  }

  .whatsapp-button:hover {
    transform: scale(1.1);
  }
 
}

.infoWebCoders {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 25px;
  color: $ultra-light-orange;
}

/* Estilos generales */
.gridContainerSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gridContain {
  flex: 1 1 48%; /* Por defecto ocupa el 48% del ancho del contenedor */
}

/* Imágenes de servicios */


/* Responsivo para pantallas menores de 550px */
@media (max-width: 550px) {
  .gridContainerSkills {
    flex-direction: column; /* Cambia la dirección a columna */
  }

  .bootstrapServicesIMG {
    visibility: hidden;
    display: none;
  }

  .bootstrapServicesIMG {
    visibility: hidden;
    display: none;
  }

  .bootstrapServicesIMG2 {
    visibility: hidden;
    display: none;
  }
  .bootstrapServicesIMG3 {
    visibility: hidden;
    display: none;
  }


  .bootstrapServicesIMG550 {
    background-image: url(./../images/web1.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .bootstrapServicesIMG2550 {
    background-image: url(./../images/web2.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .bootstrapServicesIMG3550 {
    background-image: url(./../images/web3.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .gridContain {
    flex: 1 1 100%; /* Ocupa el 100% del ancho del contenedor */
    width: 100%; /* Asegura que el contenedor también ocupe el ancho completo */
  }

  .gridContain:nth-child(odd) {
    order: 2; /* Coloca los elementos de texto por debajo de las imágenes */
  }

  .gridContain:nth-child(even) {
    order: 1; /* Coloca las imágenes por encima de los elementos de texto */
  }

  .bootstrapServicesIMG,
  .bootstrapServicesIMG2,
  .bootstrapServicesIMG3,
  .bootstrapServicesIMG4 {
    width: 100%; /* Ocupa el ancho completo */
  }
}

/* estilos.css */
